USE [master]
GO
/****** Object:  Database [TimesheetManagement]    Script Date: 8/19/2022 2:03:04 PM ******/
CREATE DATABASE [TimesheetManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimesheetManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATNGUYEN\MSSQL\DATA\TimesheetManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimesheetManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATNGUYEN\MSSQL\DATA\TimesheetManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimesheetManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimesheetManagement]
GO
/****** Object:  Table [dbo].[Absence]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absence](
	[aid] [int] NOT NULL,
	[eid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[sid] [int] NOT NULL,
	[reason] [varchar](150) NULL,
 CONSTRAINT [PK_Absence] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allowance]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allowance](
	[alid] [int] NOT NULL,
	[eid] [int] NOT NULL,
	[gid] [int] NOT NULL,
	[bonus] [float] NULL,
 CONSTRAINT [PK_Allowance] PRIMARY KEY CLUSTERED 
(
	[alid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] NOT NULL,
	[ename] [varchar](150) NOT NULL,
	[pid] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gross]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gross](
	[gid] [int] NOT NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[gross] [float] NOT NULL,
 CONSTRAINT [PK_Gross] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Overtime]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Overtime](
	[otid] [int] NOT NULL,
	[eid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[sid] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Overtime] PRIMARY KEY CLUSTERED 
(
	[otid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[pid] [int] NOT NULL,
	[pname] [varchar](150) NOT NULL,
	[salaryPerHour] [float] NOT NULL,
	[grossPercentage] [float] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[sid] [int] NOT NULL,
	[from] [time](2) NOT NULL,
	[to] [time](2) NOT NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 8/19/2022 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[eid] [int] NOT NULL,
	[checkin] [datetime] NULL,
	[checkout] [datetime] NULL,
	[sid] [int] NOT NULL,
	[aid] [int] NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Absence] ([aid], [eid], [date], [sid], [reason]) VALUES (1, 4, CAST(N'2022-08-08' AS Date), 1, N'P')
INSERT [dbo].[Absence] ([aid], [eid], [date], [sid], [reason]) VALUES (2, 4, CAST(N'2022-08-27' AS Date), 1, N'P')
INSERT [dbo].[Absence] ([aid], [eid], [date], [sid], [reason]) VALUES (3, 5, CAST(N'2022-08-06' AS Date), 1, N'previlege')
GO
INSERT [dbo].[Allowance] ([alid], [eid], [gid], [bonus]) VALUES (1, 1, 1, 700000)
INSERT [dbo].[Allowance] ([alid], [eid], [gid], [bonus]) VALUES (2, 2, 1, 700000)
INSERT [dbo].[Allowance] ([alid], [eid], [gid], [bonus]) VALUES (3, 3, 1, 1500000)
GO
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (1, N'mr A', 2)
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (2, N'mr B', 2)
INSERT [dbo].[Employee] ([eid], [ename], [pid]) VALUES (3, N'mr C', 1)
GO
INSERT [dbo].[Gross] ([gid], [from], [to], [gross]) VALUES (1, CAST(N'2022-08-01' AS Date), CAST(N'2022-08-31' AS Date), 300000000)
INSERT [dbo].[Gross] ([gid], [from], [to], [gross]) VALUES (2, CAST(N'2022-09-01' AS Date), CAST(N'2022-09-30' AS Date), 298012399)
GO
INSERT [dbo].[Overtime] ([otid], [eid], [date], [sid], [status]) VALUES (1, 4, CAST(N'2022-08-04' AS Date), 2, 1)
INSERT [dbo].[Overtime] ([otid], [eid], [date], [sid], [status]) VALUES (2, 6, CAST(N'2022-08-10' AS Date), 2, 1)
INSERT [dbo].[Overtime] ([otid], [eid], [date], [sid], [status]) VALUES (3, 6, CAST(N'2022-08-11' AS Date), 2, 0)
GO
INSERT [dbo].[Position] ([pid], [pname], [salaryPerHour], [grossPercentage]) VALUES (1, N'QL', 22000, 0.015)
INSERT [dbo].[Position] ([pid], [pname], [salaryPerHour], [grossPercentage]) VALUES (2, N'NV', 17000, 0.0035)
GO
INSERT [dbo].[Shift] ([sid], [from], [to]) VALUES (1, CAST(N'08:30:00' AS Time), CAST(N'12:30:00' AS Time))
INSERT [dbo].[Shift] ([sid], [from], [to]) VALUES (2, CAST(N'12:30:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[Shift] ([sid], [from], [to]) VALUES (3, CAST(N'17:30:00' AS Time), CAST(N'22:30:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Timesheet] ON 

INSERT [dbo].[Timesheet] ([tid], [eid], [checkin], [checkout], [sid], [aid]) VALUES (1, 1, CAST(N'2022-08-01T08:30:00.000' AS DateTime), CAST(N'2022-08-01T12:30:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Timesheet] ([tid], [eid], [checkin], [checkout], [sid], [aid]) VALUES (2, 1, CAST(N'2022-08-02T08:30:00.000' AS DateTime), CAST(N'2022-08-02T12:30:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Timesheet] ([tid], [eid], [checkin], [checkout], [sid], [aid]) VALUES (3, 1, CAST(N'2022-08-03T08:30:00.000' AS DateTime), CAST(N'2022-08-03T12:30:00.000' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Timesheet] OFF
GO
ALTER TABLE [dbo].[Absence]  WITH CHECK ADD  CONSTRAINT [FK_Absence_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Absence] CHECK CONSTRAINT [FK_Absence_Employee]
GO
ALTER TABLE [dbo].[Absence]  WITH CHECK ADD  CONSTRAINT [FK_Absence_Shift] FOREIGN KEY([sid])
REFERENCES [dbo].[Shift] ([sid])
GO
ALTER TABLE [dbo].[Absence] CHECK CONSTRAINT [FK_Absence_Shift]
GO
ALTER TABLE [dbo].[Allowance]  WITH CHECK ADD  CONSTRAINT [FK_Allowance_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Allowance] CHECK CONSTRAINT [FK_Allowance_Employee]
GO
ALTER TABLE [dbo].[Allowance]  WITH CHECK ADD  CONSTRAINT [FK_Allowance_Employee1] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Allowance] CHECK CONSTRAINT [FK_Allowance_Employee1]
GO
ALTER TABLE [dbo].[Allowance]  WITH CHECK ADD  CONSTRAINT [FK_Allowance_Gross] FOREIGN KEY([gid])
REFERENCES [dbo].[Gross] ([gid])
GO
ALTER TABLE [dbo].[Allowance] CHECK CONSTRAINT [FK_Allowance_Gross]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([pid])
REFERENCES [dbo].[Position] ([pid])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Overtime]  WITH CHECK ADD  CONSTRAINT [FK_Overtime_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Overtime] CHECK CONSTRAINT [FK_Overtime_Employee]
GO
ALTER TABLE [dbo].[Overtime]  WITH CHECK ADD  CONSTRAINT [FK_Overtime_Shift] FOREIGN KEY([sid])
REFERENCES [dbo].[Shift] ([sid])
GO
ALTER TABLE [dbo].[Overtime] CHECK CONSTRAINT [FK_Overtime_Shift]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Absence] FOREIGN KEY([aid])
REFERENCES [dbo].[Absence] ([aid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Absence]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Employee]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Shift] FOREIGN KEY([sid])
REFERENCES [dbo].[Shift] ([sid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Shift]
GO
USE [master]
GO
